
[submodule "themes/terminal"]
    path = themes/terminal
    url = git@github.com:panr/hugo-theme-terminal.git
    update = checkout
    rev = v4.2.3
    fetchRecurseSubmodules = true
    ignore = none
    shallow = false
